{% extends "course/base.html" %}
{% load static %}
{% block content %}


<div class="w3-row-padding w3-margin-left w3-center">
    {% for data in datas %}
        <form action="/view_certificate/" method="GET">
        <div class="w3-display-container w3-col s12 m4 l4 w3-section">
          <div class="card" style="width: 30rem; height: 30rem;">
            <div class="card-body hover_trans_grey">
              <h5 class="card-title">{{data.course}}</h5>
              <button type="submit" class="btn btn-primary w3-button" name="s" value="{{data.pk}}">View Certificate</button>
            </div>
          </div>
          
           
          </div>
        
        
      </form>
        {% endfor %}
  </div>

{% endblock %}